      P {
        font-family : dVerdana, Helvetica, sans-serif;
        font-size : 100%;
    }


       TD {
           font-family : Verdana, Helvetica, sans-serif;
           font-size : 110%;
           vertical-align : top;
       }

       TH {
           font-family : Verdana, Helvetica, sans-serif;
           font-size : 15px;
           vertical-align : top;
           text-align : left
       }

       BODY {
           background-color: #ccffff;
           color: black;
           font-family : Verdana, Helvetica, sans-serif;
	}       
	
       A:link {
           color:  #48A0FF;
       }

       A:visited {
           color: #37C3FF;
       }

  A:hover {
 font-family: Verdana, Arial, Helvetica, sans-serif;
 font-weight: normal;
 color: #3999FF;
 text-decoration: underline;tableCellStyle
}
     A:active {
           color: #66FFFF;
       }

.combobox {
 background-color: #FFFFFF;
 color: #808080;
 font-size: 10pt;
 font-family: arial;
 font-weight: bold;
}


/************************************************************
*                   TABLE TABLE STYLINGS                    *
************************************************************/
       .MainPageTable {
                font-family : Verdana, Helvetica, sans-serif;
                font-size : 20px;
                font-weight : bold;
                vertical-align : top; 
                background : #66FFFF;
                color      : black;
        }

       .HeaderCellStyle {
                font-family : Verdana, Helvetica, sans-serif;
                font-size : 14px;
                font-weight : bold;
                vertical-align : top; 
                background : #66FFFF;
                
        }
       .TopHeaderBarStyle {
                font-family : Verdana, Helvetica, sans-serif;
                font-size : 14px;
                font-weight : bold;
                vertical-align : top;
                background : #66FFFF;
        }

/************************************************************
*                   TABLE HEADER STYLINGS                   *
************************************************************/

       .tableHeaderStyle {
                font-family : Verdana, Helvetica, sans-serif;
                font-size : 14px;
                font-weight : bold;
                vertical-align : top; 
                background : #66FFFF;
        }
/************************************************************
*                   SECTION HEADER STYLINGS                 *
************************************************************/

       .sectionHeaderStyle {
                font-family : Verdana, Helvetica, sans-serif;
                font-size : 14px;
                font-weight : bold;
                color : #48A0FF;
                background : #66FFFF;
        }
/************************************************************
*                   TABLE header login CELL STYLINGS                 *
************************************************************/

       .tablePageTopLoginCellStyle {
                font-family : Verdana, Helvetica, sans-serif;
                font-size : 14px;
                color : black;
                vertical-align : top; 
           	text-align : right;
        }
/************************************************************
*                   TABLE CELL STYLINGS                 *
************************************************************/

       .tablePageTopWelcomeCellStyle {
                font-family : Verdana, Helvetica, sans-serif;
                font-size : 14px;
                color : black;
                vertical-align : top; 
           	text-align : left;
        }
        
        .HeaderTableStyle{
                font-family : Verdana, Helvetica, sans-serif;
                font-size : 20px;
                color : black;
                vertical-align : top; 
           	text-align : left;
        }

/************************************************************
*                   TABLE CELL STYLINGS                 *
************************************************************/

       .tableCellStyle {
                font-family : Verdana, Helvetica, sans-serif;
                font-size : 14px;
                 background :  #CCFFFF;
               color : #48A0FF;
                vertical-align : top;
        }

/************************************************************
*                   TABLE ODD CELL STYLINGS                 *
************************************************************/

       .tableOddCellStyle {
                font-family : Verdana, Helvetica, sans-serif;
                font-size : 14px;
                background : #66FFFF;
                color : #48A0FF;
                vertical-align : top; 
        }
/************************************************************
*                   TABLE ROW HEADER STYLINGS               *
************************************************************/

       .tableRowHeaderStyle {
                font-family : Verdana, Helvetica, sans-serif;
                font-size : 14px;
                color : #46A2FF;
                background : #66FFFF;
                vertical-align : top; 
                text-align : left
        }
/************************************************************
*                   TABLE Odd ROW STYLINGS                      *
************************************************************/

 
       .tableOddRowStyle {
                font-family : Verdana, Helvetica, sans-serif;
                font-size : 14px;
                color : #0000FF;
                background : #CCFFFF;
                vertical-align : top; 
        }

/************************************************************
*                   TABLE ROW STYLINGS                      *
************************************************************/

       .tableRowStyle {
                font-family : Verdana, Helvetica, sans-serif;
                font-size : 14px;
                color : #0000FF;
                background : #CCFFFF;
                vertical-align : top; 
        }

/************************************************************
*               APPLICATION SUB MENU STYLINGS               *
************************************************************/

       .applicationSubMenuStyle {
                font-family : Verdana, Helvetica, sans-serif;
                font-size : 10px;
                color : black;
                background : #33589F;
        }

       A.applicationSubMenuLinkStyle:link {
           color: black;
       }

       A.applicationSubMenuLinkStyle:visited {
           color: black;
       }

       A.applicationSubMenuLinkStyle:active {
           color:black;
       }

/************************************************************
*                   Warning box                             *
************************************************************/

       .warning {
                font-family : Verdana, Helvetica, sans-serif;
                font-size : 18px;
                color : red;
                background : #E5E5E5;
                text-align: center; 
                vertical-align : top;
                border: medium green;
                border-style: dashed;
        }
/************************************************************
*                 Inhareted variables  TABLE CELL STYLINGS                 *
************************************************************/

       .InharatedVariablesCell {
                font-family : Verdana, Helvetica, sans-serif;
                font-size : 14px;
                background :  #CCFFFF;
                color : #48A0FF;
                vertical-align : top;
        }

/************************************************************
*                   Left Side Bar STYLINGS                      *
************************************************************/
       .LeftNavTableStyle {
                BACKGROUND:  #CCFFFF;
                WIDTH:       100%;
                BORDER: 0;
 }
      .NavtableHeaderCellStyle {
                background :  #CCFFFF;
                color : #0000FF;
                   font-size : 110%;
             vertical-align : top;
                text-align: center;
 }
       .NavTableCellStyle {
              border: 0;
              background: #CCFFFF;
              WIDTH:  20%;
               font-size : 100%;
               text-align : left;
         }
       .NavtableCellStyle {
                font-family : Verdana, Helvetica, sans-serif;
                font-size : 100%;
                 background :  #CCFFFF;
               color : #48A0FF;
                vertical-align : top;
        }

        .NavNewsCellStyle {
 
                font-family : Verdana, Helvetica, sans-serif;
                font-size : 14px;
                /*background :  #CCFFFF;*/
                color : black;
                vertical-align : top;
                text-align : left;
       }
      font.LeftSideBarHeaderStyle {
                font-family : Verdana, Helvetica, sans-serif;
                font-size : 15px;
                color : #0000FF;
                background : #CCFFFF;
                vertical-align : top;
                text-align : center;
        }

      font.LogOnStyle {
                font-family : Verdana, Helvetica, sans-serif;
                font-size : 15px;
                color : #FFCC00;
                background : #CCFFFF;
                vertical-align : top;
                text-align : center;
        }

      font.AddButtonStyle {
                font-family : Verdana, Helvetica, sans-serif;
                font-size : 15px;
                color : #FFCC00;
                background : #CCFFFF;
                vertical-align : top;
                text-align : center;
        }
        
      font.LeftSideBarHeaderStyle {
                font-family : Verdana, Helvetica, sans-serif;
                font-size : 15px;
                color : #0000FF;
                background : #CCFFFF;
                vertical-align : top;
                text-align : center;
        }
      font.LeftSideBarHeaderStyle {
                font-family : Verdana, Helvetica, sans-serif;
                font-size : 15px;
                color : #0000FF;
                background : #CCFFFF;
                vertical-align : top;
                text-align : center;
        }
      font.LeftSideBarHeaderStyle {
                font-family : Verdana, Helvetica, sans-serif;
                font-size : 15px;
                color : #0000FF;
                background : #CCFFFF;
                vertical-align : top;
                text-align : center;
        }
      font.LeftSideBarHeaderStyle {
                font-family : Verdana, Helvetica, sans-serif;
                font-size : 15px;
                color : #0000FF;
                background : #CCFFFF;
                vertical-align : top;
                text-align : center;
        }
       font.LeftSideBarNavStyle {
                font-family : Verdana, Helvetica, sans-serif;
                font-size : 10px;
                color : #43A8A8;
                background : #CCFFFF;
                vertical-align : top; 
                text-align : right;
        }

       font.LeftSideBarNavHelpDeskStyle {
                font-family : Verdana, Helvetica, sans-serif;
                font-size : 20px;
                color : #43A8A8;
                background : #CCFFFF;
                vertical-align : top; 
                text-align : right;
        }
